<h1> Питання </h1>
<h1><p><%= Time.now %></p><h1>
<p><%= @question.body %></p>
<p>user_id: <b><%= @question.user_id %></b><p>
<% name = 'Oleksii' %>
<p> My nane is <%= name %> , HI everyone</p>

<p><%= link_to "Змінити питання", edit_question_path(@question) %></p>
<div>
    <%= button_to 'Видалити питання', question_path(@question), method: :delete %>
</div>

#<p><%= link_to "Всі питання", "/questions"%>